html
  body
    .popup-content
      h5
        span.property-address 495 S&period; Main Street
      //
        	<p><strong>Parcel #13934311021</strong></p>
        	<p>You are selecting this parcel. Here is some basic information about it. To see more, click "See more."</p>
        // 
      p This is a parcel you just clicked
    .popup-action
      // <a href='' class='popup' id='marker-address-pick'>Choose this location</a>
      a#marker-more-info.popup(href='') See more information
