html
  body
    .modal
      .modal-header
        h4.modal-title &lcub;&lcub;title&rcub;&rcub;Zoning
      .modal-body(<p='')
        | Planning departments use zones to make sure that different uses are not conflicting with other uses&period;
        p
        p(ng-repeat='paragraph in text track by $index') &lcub;&lcub;text&rcub;&rcub;
      .modal-footer
        button(ng-click='ok()') close
