form(class='search-form', ng-submit='action(terms)')
  .row.nobr
    input(class='search-input', type='text', placeholder='{{placeholder}}', ng-model='terms', required='', autofocus='', value='{{terms}}')
    input(class='search-submit', type='submit', value='Search')
