section#section10.section-full

	h2 Find your primary business category

	p.lede Select from this drop-down list to help categorize your business.
		+modal-link('How to find your primary business type') (Help me do this.)

	p
		#primary-business-form.form(ng-controller='TypeaheadCtrl')
			input#primary-business-input(type='text', name='primary-business', ng-model='primaryBusiness', typeahead='state for state in states | filter:$viewValue | limitTo:8', placeholder='Write some words')

	p
		small Note: This is a simple type-ahead dropdown feature for current business categories, but other strategies may be used here.

	.section-navigation
		+nav-back
		+nav-button('section30', 'skip') Skip business classification
		+nav-next