section#section12.section-full

	h2 Confirm your business category

	p.lede.
		It looks like your business is <strong>{{primaryBusiness}}</strong>.
		<a href='' class='modal' data-title='Automotive Services Business Category Definition'>(Learn more about this category.)</a>

	p.lede Does this look correct to you?

	.section-navigation
		+nav-back('') No, go back and edit
		+nav-next('') Looks good. Let’s keep going