section#section15.section-full
	
	h2 Describe your business

	p.lede We'd like to know some more about your business, so that our permit technicians can serve you better. Please describe your business in one or two paragraphs.

	#business-description-form.form
		textarea#business-description(name = 'business-description')

	.section-navigation
		+nav-back
		+nav-next