section#section20.section-full

	h2 Additional information about your business

	p.lede Now let’s see if there are any additional activities your business includes which might affect your zoning status. Check all that apply.

	p
		#additional-business-form.form
			+checkbox('alcohol') Alcoholic beverages served or sold
			+checkbox('childcare') Childcare services provided
			+checkbox('gambling') Gambling
			+checkbox('jukebox') Jukebox operation

	.section-navigation
		+nav-back
		+nav-next