section#section30.section-full

	h2 Have you obtained a space for your business already?

	p.lede If you've already bought or leased a space, or have a particular space you’d like to know more about, click “Yes”.  

	.radio-select
		+radio-button('section40') Yes, I have an address in mind
		+radio-button('section41') No, but I know what neighborhood I want to be in
		+radio-button('section39') No, help me find a property

	.section-navigation
		+nav-back