section#section31.section-full

	h2 What kind of space are you looking for?

	p.lede Each type of space will have different requirements.
		+link-modal('Information about each type of space') (Help me choose one.)
	
	.radio-select
		+radio-button('section39') Home-based business
		+radio-button('section39') Brick-and-mortar retail space
		// <br><small>This can be either an entire building or a tenant improvement.</small>
		+radio-button('section39') Commercial office space
		+radio-button('section39') More than one of these, or don’t know yet

	.section-navigation
		+nav-back