section#section39.section-full

	h2 We're locating appropriate properties for you.

	+loading

	//- A hidden "next" button currently used by JS to forward the loading screen.
	.section-navigation.hidden
		+nav-next('section45')