//- Same as section 39 but in half map format
section#section39b.section-map

	h2 We're locating appropriate properties for you.

	+loading

	//- A hidden "next" button currently used by JS to forward the loading screen.
	.section-navigation.hidden
		+nav-next('section45')