section#section40.section-map

	h2 Enter the address of your space

	p.lede Please type in an address, or click a location on the map.

	p
		#property-address-form.form
			input#property-address-input(type='text', name='address', placeholder='example: 495 S. Main Street')

	.section-navigation
		+nav-back('section30')
		+nav-next('section50')