section#section41.section-map

	h2 Select a neighborhood

	p.lede If you know what neighborhood you'd like to be in, select it now.
	
	.radio-select
		+radio-button('section39b') Downtown Las Vegas
		+radio-button('section39b') Other area in Las Vegas

	.section-navigation
		+nav-back('section30')