section#section50.section-map

	h2 
		span.property-address 450 S. 4th St

	table.no-style
		tbody
			tr
				td(width='180px') <strong><a href='' class='no-color help modal'>Parcel number</a></strong>
				td #13934311021
			tr
				td <strong><a href='' class='no-color help modal'>Parcel master address</a></strong>
				td 450 S. 4th St
			tr
				td <strong><a href='' class='no-color help modal'>Other addresses on record</a></strong>
				td 3392 Carson Ave, 452 S. 4th St, 454 S 4th St
					br
					| <a href='' class='small modal'>(don't see your address?)</a>


	h3 <a href='' class='help modal no-color' data-title='Zones' data-content='Planning departments use zones to make sure that different uses are not conflicting with other uses.'>Zones</a>

	ul.comfy.no-bullets
		+zone('yellow', 'C-2', 'General Commercial')
		+zone('yellow', 'DCP-0', 'Downtown Centennial Plan Overlay')

	h3 Buildings

	table
		thead
			tr
				td(width='30%') Building Number
				td(width='70%') Current Occupancy Type
		tbody
			tr
				td 495A
				td <span class='green pill'>A2</span> Assembly
			tr
				td 498B
				td <span class='pill'>R1</span> Residential

	h3 Land use history

	ul
		li Residential

	h3 Incentives

	ul
		li <a href='http://lvrda.org/retail-assistance-program.php' target='_blank'>Downtown Retail Assistance Program</a>
		li <a href='http://lvrda.org/fast-track-program.php' target='_blank'>Redevelopment Area Fast Track Program</a>
		li <a href='http://lvrda.org/tif-program.php' target='_blank'>Tax Increment Financing (TIF)</a>
		li <a href='http://lvrda.org/quickstart-programs.php' target='_blank'>Quick Start Program</a>
		li <a href='http://lvrda.org/visual-improvement-program.php' target='_blank'>Visual Improvement Program</a>

	h3 Other Links

	ul
		li <a href='http://tigerweb.geo.census.gov/datamapper/map.html' target='_blank'>Demographics of this area</a> (Link to US Census)
		li <a href='http://gisgate.co.clark.nv.us/openweb/' target='_blank'>View on Clark County GISMO</a>
		li <a href='http://clvplaces.appspot.com/apps/interactive/clvpi.htm' target='_blank'>View on Las Vegas Interactive Map</a>

	.section-navigation
		+nav-back('section45') Return to zoning overview
		+nav-next Proceed with this property