section#section70.section-map

	h2 Next steps with this property

	h3 Quick review

	ul
		li Your business category is <span class='pill'>A11</span> <strong>{{primaryBusiness}}</strong>.
		li The zoning classification for your property is <span class='green pill'>C-2</span> <strong>General Commercial</strong>.
		li Your parcel number is <strong>13934311021</strong>.
		li The master address on record for this parcel is <strong><span class='property-address'>150 N. Las Vegas Blvd</span></strong>.
		li The address you're using is <strong>this</strong>.

	.radio-select
		+external-link-button('print', '') View & print all property information now

	h3 Next steps (external)

	.radio-select
		+external-link-button('', 'http://www.lasvegasnevada.gov/Apply/27541.htm') Apply for a business license
		+external-link-button('pre-app', 'demo/eplans/preapplication.html') Request a planning pre-application conference
		//- Actual link for this:  https://eplans.lasvegasnevada.gov/projectdox/workfloweforms/preapplication.aspx

	p
		a(target='_blank', href='http://www.lasvegasnevada.gov/Apply/permits.htm') View other resources

	.section-navigation
		+nav-back
		+nav-button('start', 'start')(class='back') Start over