section#start.section-full.section-start

	h2 Find the best property for your business.

	p.lede.
		Am I zoned for my barbershop?  Is this a great spot for my bar?  Where should I open my boutique hat store?
		These are important questions for your business, and this tool will help you find a property, and obtain data from a property, before beginning the permitting and licensing process with the City.

	h3 What you'll need

	ul
		li What is your business?
		li Are there aspects of your business that could affect your location?
		li Do you have a space or neighborhood in mind already?

	.section-navigation
		+nav-next('') Let’s get started!