<!--script src='//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js'></script-->
<script src='//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js'></script>
<script src='//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-sanitize.min.js'></script>

<script src='/js/app.js'></script>
<script src='/js/controllers.js'></script>

<script src='/js/lib/ui/transition.js'></script>
<script src='/js/lib/ui/collapse.js'></script>
<script src='/js/lib/ui/modal.js'></script>

<!--script src='/js/filters.js'></script-->
<!--script src='/js/services.js'></script-->

<!--script src='lib/angular/angular-resource.js'></script-->

<script src='/js/vendor/modernizr-2.6.2.min.js'></script>

<link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
<!--[if lte IE 8]>
	<link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' />
<![endif]-->
<script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
