footer
	.disclaimer
		p.
			This site for informational use only and not guaranteed to be accurate or up-to-date, since changes or other unknown factors that are not included could affect the results of this application.  Please speak to your friendly neighborhood redevelopment agency staff for more information.
	#pi
		a(href='https://github.com/codeforamerica/lv-dof/', target='_blank')
			img(alt='CfA flag', src='/img/cfa-flagtag.svg')