extends layout

include mixins

block content
	#main.fullscreen
		.container

			include header

			.content(role='main')

				include sections/start

				include sections/10
				include sections/12
				include sections/15
				include sections/20
				include sections/30
				include sections/31
				include sections/39
				include sections/39b
				include sections/40
				include sections/41
				include sections/45
				include sections/50
				include sections/70

					

			include footer