extends layout

block content
	#main.fullscreen
		.container

			include header

			.content(role='main')

				section#start.section-full.section-start

					h2 Find the best property for your business.

					p.lede Am I zoned for my barbershop?  Is this a great spot for my bar?  Where should I open my boutique hat store? The City of Las Vegas's development opportunity finder tool is here to help you find the best property, or learn more about the property you already have, to help improve your permitting and licensing process with the City.

					h3 What you'll need

					ul
						li What is your business?
						li Are there aspects of your business that could affect your location?
						li Do you have a space or neighborhood in mind already?

					.section-navigation
						button(type='button', value='next') Let's get started!



				section#section10.section-full

					h2 Find your primary business category

					p.lede Select from this drop-down list to help categorize your business.
						a.modal(href='', data-title='Information about describing your primary business type') (Help me do this.)

					p
						#primary-business-form.form(ng-controller='TypeaheadCtrl')
							input#primary-business-input(type='text', name='primary-business', ng-model='primaryBusiness', typeahead='state for state in states | filter:$viewValue | limitTo:8', placeholder='Write some words')

					p
						small Note: This is a simple type-ahead dropdown feature for current business categories, but other strategies may be used here.

					.section-navigation
						button(type='button', value='back') Go back
						button(type='button', value='skip', data-section='section30') Skip business classification
						button(type='button', value='next', id='primary-business-next') Next


				section#section40.section-map

					h2 Enter the address of your space

					p.lede Please type in an address, or click a location on the map.

					p
						#property-address-form.form
							input#property-address-input(type='text', name='address', placeholder='example: 495 S. Main Street')

					.section-navigation
						button(type='button', value='back', data-section='section30') Go back
						button(type='button', value='next', id='property-address-next', data-section='section50') Next

					

			include footer