extends layout

include mixins

block content
	#return(ng-controller='ReturnCtrl', class='ng-cloak', return-dialog='false')

	#main.fullscreen
		.container

			include header

			.content(role='main', ng-view)

				.loading
					img(src='img/loading-lite.gif')
					p Loading application...

			include footer