doctype 5
//- Boilerplate 5 IE detection for CSS (slightly rewritten for Jade)
//if lt IE 7
  html(xmlns:ng='http://http://angularjs.org', id='ng-app', class='no-js lt-ie9 lt-ie8 lt-ie7', ng-app='fastpass')
//if IE 7
  html(xmlns:ng='http://http://angularjs.org', id='ng-app', class='no-js lt-ie9 lt-ie8', ng-app='fastpass')
//if IE 8
  html(xmlns:ng='http://http://angularjs.org', id='ng-app', class='no-js lt-ie9', ng-app='fastpass')
//-if gt IE 8
html(class='no-js', ng-app='fastpass')
  //<![endif]
  head
    include layout/_head

  body

    include layout/_chromeframe

    #return(ng-controller='ReturnCtrl', class='ng-cloak', return-dialog='false')
    #main.fullscreen
      .container

        header(role='banner')
          include layout/_header

        .content(role='main', ng-view)
          block content

        footer
          include layout/_footer

    #map-container(ng-controller='MapCtrl as map')
      #map(ui-map='map', ui-options='mapOptions', ui-event="{'map-click': 'mapClick($event, $params)', 'map-bounds_changed': 'mapBoundsChanged($event, $params)' }", ng-show='mapService.showMap')

    include layout/_javascripts
