doctype 5
//if lt IE 8
	html(class='no-js lt-ie9 lt-ie8 lt-ie7')
//if IE 7
	html(class='no-js lt-ie9 lt-ie8')
//if IE 8
	html(class='no-js lt-ie9 lt-ie8', ng-app)
html.no-js(id='ng-app', ng-app='dof')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

		title= title
		meta(name='description', content='Find the best location for your Las Vegas-based business')

		link(rel='stylesheet', style='text/css', href='/stylesheets/styles.css')
		link(rel='icon', type='image/png', href='favicon.png')

		include _scripts-head.html
		
	body

		include _chromeframe.html

		block content

		#map

		include modal

		include _scripts-foot.html