doctype 5
//- Boilerplate 5 IE detection for CSS (slightly rewritten for Jade)
//if lt IE 7
	html(xmlns:ng='http://http://angularjs.org', id='ng-app', class='no-js lt-ie9 lt-ie8 lt-ie7', ng-app='dof')
//if IE 7
	html(xmlns:ng='http://http://angularjs.org', id='ng-app', class='no-js lt-ie9 lt-ie8', ng-app='dof')
//if IE 8
	html(xmlns:ng='http://http://angularjs.org', id='ng-app', class='no-js lt-ie9', ng-app='dof')
//-if gt IE 8
html(class='no-js', ng-app='dof')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

		title= title
		meta(name='description', content='Find the best location for your Las Vegas-based business')

		link(rel='stylesheet', style='text/css', href='/stylesheets/styles.css')
		link(rel='icon', type='image/png', href='favicon.png')

		include _scripts-head.html
		
	body

		include _chromeframe.html

		block content

		#map(ng-controller='MapCtrl', ng-click='map.doStuff()')

		include _scripts-foot.html