block modal
	#modal
		.modal-background
		.modal-box
			.modal-content
				h4.modal-title {{modal.title}}
				.modal-text
					p(ng-repeat='text in modal.text') {{text}}
			.modal-close
				a(href='') close 