block modal
	#modal
		.modal-background
		.modal-box
			.modal-content
				h4.modal-title= modalTitle
				.modal-text
					//- At some point, the information made by clicking on the modal will change. This information should be stored on
					//- the server and retrieved when someone clicks the modal.
					//- p= modalText
					p.
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			.modal-close
				a(href='') close 