@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
h1{font-size:2em;margin:0.67em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace, serif;font-size:1em}
pre{white-space:pre-wrap}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}
legend{border:0;padding:0;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0}
#hl{}#hl .typo{}
#hl .img{}
#hl .ui{}#hl .ui .themes{}
#hl .ui .list{}
html,button,input,select,textarea{color:#222}
html{font-size:1em;line-height:1.4}
::-moz-selection{background:#b3d4fc;text-shadow:none}
::selection{background:#b3d4fc;text-shadow:none}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
audio,canvas,img,video{vertical-align:middle}
fieldset{border:0;margin:0;padding:0}
textarea{resize:vertical}
.browsehappy{margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0}
.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px}
.ir:before{content:"";display:block;width:0;height:150%}
.hidden{display:none !important;visibility:hidden}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.invisible{visibility:hidden}
.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both}
.clearfix{*zoom:1}
@media only screen and (min-width:35em){}@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi){}@media print{*{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important} a,a:visited{text-decoration:underline} a[href]:after{content:" (" attr(href) ")"} abbr[title]:after{content:" (" attr(title) ")"} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""} pre,blockquote{border:1px solid #999;page-break-inside:avoid} thead{display:table-header-group;} tr,img{page-break-inside:avoid} img{max-width:100% !important} @page {margin:0.5cm}p,h2,h3{orphans:3;widows:3} h2,h3{page-break-after:avoid}}*{box-sizing:border-box}
html,body{padding:0;margin:0;height:100%;background-color:#fafafa;font-family:'Lato','Helvetica Neue',sans-serif;font-size:13px;color:#000}
#left{width:100%;min-height:100%;z-index:4000;padding:30px;-webkit-transition:width .8s;-moz-transition:width .8s;-o-transition:width .8s;transition:width .8s;background-color:#fafafa;position:relative;overflow-x:hidden;overflow-y:auto}#left.partscreen{width:560px;border-right:1px solid #c1c1c1;-webkit-box-shadow:3px 0 6px rgba(0,0,0,0.1);box-shadow:3px 0 6px rgba(0,0,0,0.1)}#left.partscreen .container{width:100%}#left.partscreen .container .content{width:100%}
#left.partscreen .container footer{width:500px}
#left.partscreen .container #pi{right:0}
.container{position:relative;width:740px;margin:0 auto}
header{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}header #nav-logo{height:150px;position:absolute;top:10px;left:-20px;opacity:.5;filter:alpha(opacity=50)}header #nav-logo a{background:none;padding:0}
header #nav-logo img{position:absolute;right:0px;display:block;width:94px;height:94px}
.partscreen header{margin-left:120px}.partscreen header #nav-logo{left:100px}
h1{font-size:38px;line-height:32px;font-weight:100;width:300px;display:inline-block}h1 sub{font-size:9px;font-weight:400;position:relative;color:#999;top:-18px}
h2,h3,h4,h5,h6{color:#21687f}.inset-box h2,.inset-box h3,.inset-box h4,.inset-box h5,.inset-box h6{margin-top:0}
h2{font-weight:400;font-size:26px}
h3{font-weight:bold;font-size:16px}
h4{font-weight:400;font-size:20px}
h5{font-size:16px}
.nobr{white-space:nowrap}
.lede{font-size:18px;font-weight:200;line-height:175%}
.row{position:relative;width:100%}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6{display:inline-block;position:relative;vertical-align:top;margin-right:10px}.col-1:last-child,.col-2:last-child,.col-3:last-child,.col-4:last-child,.col-5:last-child,.col-6:last-child{margin-right:0}
.col-1{width:113.33333333333333px}
.col-2{width:236.66666666666666px}
.col-3{width:360px}
.col-4{width:483.3333333333333px}
.col-5{width:606.6666666666666px}
.col-6{width:740px}
a{text-decoration:none;color:#319abc}a:hover{text-decoration:underline}
a[href^='http://'],a[href^='ftp://'],a[href^='https://']{background:url('/img/extlink.gif') center right no-repeat;padding-right:14px}
a.small{font-size:11px}
a.no-color{color:inherit}
a.help:after{content:'?';display:inline-block;position:relative;top:-1px;width:10px;height:10px;border-radius:6px;border:1px solid #757575;margin-left:4px;margin-right:4px;text-align:center;color:#757575;line-height:10px;font-size:10px}
.hidden{display:none}
small{font-size:11px;color:#888}
.content{width:740px;position:relative}.content section{position:relative;margin-bottom:30px}.content section.section-large{margin-top:40px}
.content section.section-hidden{display:none}
.content section.section-map{width:500px}
.content .section-navigation{position:relative;width:100%;margin-top:30px;height:36px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}
.content .radio-select{font-size:18px;line-height:175%;position:relative}.content .radio-select p{height:45px;position:relative}
.content .radio-select button,.content .radio-select a.button{font-weight:200;position:absolute}
.content .radio-select a.button{height:40px;line-height:20px}
.content .loading-small{width:100%;text-align:center;color:gray}
.content .loading{width:100%;text-align:center;margin-top:80px;height:160px;color:gray}
.naics-result{border-top:1px solid #ddd;padding:6px 80px 6px 0;position:relative}.naics-result.selected{background-color:rgba(0,0,0,0.1)}
.naics-result:last-of-type{border-bottom:1px solid #ddd}
.naics-result:hover{background-color:rgba(0,0,0,0.05)}
.naics-result button{position:absolute;right:0;top:4px;background-color:#e7eaeb;padding:3px 10px;color:#21687f}.naics-result button:hover{color:#fff}
.naics-result button:active{position:absolute !important;top:4px !important}
.naics-result button.selected{background-color:#21687f;color:white}
input{display:inline-block}
input[type=text],textarea{padding:9px;border:1px solid #aaa;font-size:18px}
textarea{height:140px;width:100%}
.textarea-note{text-align:right;color:#999;font-style:italic;margin-top:5px}
input[type=checkbox]{margin-right:8px}
input[type=text]+input[type=submit]{font-size:18px}
button,a.button,input[type=button],input[type=submit]{background-color:#21687f;color:white;border:0;padding:10px 20px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;text-align:center;display:inline-block}button.back:before,a.button.back:before,input[type=button].back:before,input[type=submit].back:before,button[value=back]:before,a.button[value=back]:before,input[type=button][value=back]:before,input[type=submit][value=back]:before{content:'« ';margin-right:10px;font-size:17px;font-weight:200;line-height:13px}
button.back,a.button.back,input[type=button].back,input[type=submit].back,button[value=back],a.button[value=back],input[type=button][value=back],input[type=submit][value=back]{left:0;right:auto;background-color:#5f95a7}
button.right,a.button.right,input[type=button].right,input[type=submit].right{position:absolute;right:0;margin-right:0;margin-left:5px}button.right:active,a.button.right:active,input[type=button].right:active,input[type=submit].right:active{position:absolute}
button.next,a.button.next,input[type=button].next,input[type=submit].next,button[value=next],a.button[value=next],input[type=button][value=next],input[type=submit][value=next]{position:absolute;right:0;margin-right:0;margin-left:5px}button.next:after,a.button.next:after,input[type=button].next:after,input[type=submit].next:after,button[value=next]:after,a.button[value=next]:after,input[type=button][value=next]:after,input[type=submit][value=next]:after{content:' »';margin-left:10px;font-size:17px;font-weight:200;line-height:13px}
button.next:active,a.button.next:active,input[type=button].next:active,input[type=submit].next:active,button[value=next]:active,a.button[value=next]:active,input[type=button][value=next]:active,input[type=submit][value=next]:active{position:absolute}
button:hover,a.button:hover,input[type=button]:hover,input[type=submit]:hover{background-color:#277c97;text-decoration:none}
button:active,a.button:active,input[type=button]:active,input[type=submit]:active{position:relative;top:2px}
button.disabled,a.button.disabled,input[type=button].disabled,input[type=submit].disabled,button[disabled],a.button[disabled],input[type=button][disabled],input[type=submit][disabled]{background-color:#c1c1c1;color:#8e8e8e}button.disabled:hover,a.button.disabled:hover,input[type=button].disabled:hover,input[type=submit].disabled:hover,button[disabled]:hover,a.button[disabled]:hover,input[type=button][disabled]:hover,input[type=submit][disabled]:hover{background-color:#c1c1c1}
button.disabled:active,a.button.disabled:active,input[type=button].disabled:active,input[type=submit].disabled:active,button[disabled]:active,a.button[disabled]:active,input[type=button][disabled]:active,input[type=submit][disabled]:active{margin-top:0;top:0}
a.button{height:36px}
ul{padding:0;list-style-type:square;margin-left:18px}
ul.comfy{line-height:175%}
ul.no-bullets{list-style-type:none;margin-left:0}
ul.progress-bar{padding:0;margin:0;width:100%;white-space:nowrap;margin-top:10px;color:#444}ul.progress-bar li{position:relative;width:33%;display:inline-block;background-color:#e7eaeb}ul.progress-bar li .step{display:inline-block;width:32px;padding-right:8px;margin-right:6px;text-align:right;font-size:18px;background-color:#c1c1c1;color:white}
ul.progress-bar li.highlight{background-color:#5f95a7;color:white}ul.progress-bar li.highlight .step{background-color:#21687f}
ul.progress-bar li::after{content:'';width:0;height:0;border-top:12px solid transparent;border-bottom:12px solid transparent;border-left:8px solid #e7eaeb;z-index:4000;position:absolute;margin-top:0px;right:-8px}
ul.progress-bar li.highlight::after{border-left:8px solid #5f95a7}
ul.progress-bar li:last-of-type::after{border:0}
span.pill{padding:1px 3px;border-radius:4px;margin-right:4px;margin-left:4px;color:gray;border:1px solid gray}
span.gray,span.green,span.orange,span.red{padding:2px 4px;color:white;border:0}
span.gray{background-color:gray}
span.green{background-color:green}
span.orange{background-color:orange}
span.red{background-color:red}
span.yellow{background-color:yellow;padding:2px 4px;color:black;border:0}
span.clickable{cursor:pointer}
table{width:100%}table td{vertical-align:top}
table:not(.no-style) thead{font-weight:bold;background-color:#e9e9e9}table:not(.no-style) thead td{padding:2px 0}
table:not(.no-style) tr{border-bottom:1px solid #c1c1c1}
table:not(.no-style) td{padding:4px 0}
.inset-box{background-color:#e7eaeb;padding:20px}
.info-box{background-color:#e7eaeb;padding:0 20px}
.error{color:red;font-weight:bold}
.warning{color:red}
.message{font-weight:bold}
footer{width:740px;margin:40px auto 20px 0;border-top:1px solid #c1c1c1;font-size:10px;color:#999;position:relative}footer .disclaimer{margin-right:60px}
footer #pi{position:absolute;right:0;bottom:0;opacity:.25;filter:alpha(opacity=25)}.lt-ie9 footer #pi{display:none}
footer #pi a{background:none;padding:0}
footer #pi img{width:32px;height:20px;margin:0 3px}
#map-container{height:100%;position:fixed;top:0;left:560px;right:0;z-index:3000}#map-container a{background:none;padding:0}
#map{width:100%;height:100%}
.popup-content{padding:10px 16px 0;text-align:left;margin-top:20px}.popup-content h5{margin:0;padding:0}
.scrollfix{position:relative}
#dialog{position:fixed;top:0;margin-top:-200px;left:50%;margin-left:-200px;width:400px;height:auto;padding:0 20px 20px;background-color:white;border-bottom-left-radius:3px;border-bottom-right-radius:3px;z-index:9999;-webkit-box-shadow:0 0 8px rgba(0,0,0,0.25);box-shadow:0 0 8px rgba(0,0,0,0.25);-webkit-transition:margin-top .8s ease;-moz-transition:margin-top .8s ease;-o-transition:margin-top .8s ease;transition:margin-top .8s ease}
.static-map{position:absolute;right:0;top:18px}
#system-warning{position:fixed;top:-1px;right:30px;border:1px solid lightgray;background-color:lightyellow;width:500px;padding:0 20px 6px}#system-warning a{background:none;padding:0}
#system-warning h3{color:#f00}
@media print{#print{width:670px;max-width:100%} #nav-logo{opacity:1;filter:alpha(opacity=100);left:100px} header{position:relative;margin-left:120px} header a:after{content:'' !important} header img{background-color:white} .pill{color:black !important;border:1px solid black !important;background-color:transparent !important;margin-left:0 !important} tr,td,th{page-break-inside:avoid} .section-navigation,#pi,#map-container,#map,#dialog{display:none} a.help:after,a[href^='mailto:']:after{content:'';border:0}}.ng-cloak{display:none}
.leaflet-top,.leaflet-bottom{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}
.map-legends{display:none}
.leaflet-control-attribution{background-color:rgba(255,255,255,0.7) !important;color:#888 !important}.leaflet-control-attribution a{background:none;padding:0;color:#555 !important}
.leaflet-control-attribution:last-of-type{display:none}
.leaflet-container{font-family:'Lato','Helvetica Neue',sans-serif !important;box-sizing:content-box}
.leaflet-popup-content-wrapper{padding:0px !important;max-width:240px}
.leaflet-popup-content{margin:0 !important;max-width:240px;box-shadow:0 1px 10px rgba(0,0,0,0.25)}
.chromeframe{font-size:18px;background-color:#ffffef;position:fixed;z-index:999999;width:100%;margin-top:0;padding:5px 20px;border-bottom:1px solid lightgray}.chromeframe a{background:none;padding:0}
.collapse{position:relative;overflow:hidden;-webkit-transition:height .35s ease;-moz-transition:height .35s ease;-o-transition:height .35s ease;transition:height .35s ease}
.modal{position:fixed;width:500px;left:50%;top:30%;margin-left:-250px;background-color:#fafafa;-webkit-box-shadow:0 0 8px rgba(0,0,0,0.25);box-shadow:0 0 8px rgba(0,0,0,0.25);border-radius:3px;z-index:9000 !important;padding:0 20px 20px}
.modal-backdrop{background-color:rgba(255,255,255,0.75);width:100%;height:100%;position:fixed;top:0;left:0;z-index:8900 !important}
.modal-body{max-height:500px;overflow-y:auto}
.modal-footer,.modal-close,.popup-action{text-align:right;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}
.gm-style{font-family:'Lato','Helvetica Neue',sans-serif !important}
