		Body
		{
			position: relative;
			font-family: Arial,Verdana,Sans-serif;
			font-size: 0.800em;
			color: #000000;
			background-color: #ffffff;			
			margin: 0;
		}
		
		a
		{
			color: #2165aa
		}
		



        .EForm
        {
			position: relative;	
            		width: 1000px;
			height: 100%;
			margin-left:auto;
			margin-right:auto;
			background-color: #FFFFFF;
			border: solid 0px #2165aa;				
        }
        
        .LogoPanel
        {
			position: relative;
			background-color: transparent;
			width: 100%;
        }
        
        .LogoImage
        {
			position: relative;
			background-image: url('../Images/StandardeFormImages/elogo.jpg');
			background-repeat: no-repeat;
			background-position: top left;
            width: 100%;
            height: 135px;
        }
        
        .SectionPanel
        {
			position: relative;	
            width: 100%;
            margin-bottom: 10px;
        }        
        
        .SectionPanelHeader
        {
            width: 99%;
	    height: auto;    
			line-height: 22px;
            border: solid 0px #ffffff;
            margin-bottom: 5px;   
			background-color: #CDCDCD;
			
			font-weight: 600;
			color: #000000;
     		text-align: Left;
			
        }
        .SectionPanelHeaderTitle
        {
            width: 99%;
	    height: 30px;    
			line-height: 22px;
            border: solid 1px #ffffff;
            margin-bottom: 5px;   
			background-color: #2165aa;
			filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr='#2165AA',EndColorStr='#FFFFFF');
			font-weight: 600;
			color: #FFFFFF;
     		text-align: Left;
			
        }
        .SectionPanelHeaderInstructions
        {
            width: 100%;
	    height: 30px;    
			line-height: 22px;
            border: solid 0px #2165aa;
            margin-bottom: 5px;   
			background-color: #ffffff;
			filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr='#2165aa',EndColorStr='#ffffff');
			font-weight: 600;
			color: #000000;
     		text-align: Left;
			text-transform: uppercase;
        }
        .SectionPanelHeaderMarkup
        {
            width: 100%;
	    height: 25px;    
			line-height: 22px;
            border: solid 0px #2165aa;
            margin-bottom: 5px;   
			background-color: #2165aa;
			filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr='#ffffff',EndColorStr='#2165aa');
			font-weight: 600;
			color: #000000;
     		text-align: Left;
			text-transform: uppercase;
        }
        .OneColumnFieldSet
        {
            width: 99%;
	 height: auto;
            padding: 5px;
            display: block;
text-align: Left;
        }
        .OneColumnFieldSetP
        {
            width: 100%;
	 height: auto;
            padding: 0px;
            display: block;
border: solid 0px #2165aa;
background-color: #DDDDDD;
        }         
        .TwoColumnFieldSet
        {
			position: relative;			
			float: left;
			width: 48%;
			padding: 5px;
        }
        .ThreeColumnFieldSet
        {
			position: relative;
            float: left;			
            width: 32%;            
            padding: 5px;
            white-space: nowrap;
		border: solid 0px #2165aa;
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr='#ffffff',EndColorStr='#BDBEDB'); 
        }          
        .FieldSetHeader
        {
            width: 100%;    
			line-height:22px; 
            border: solid 1px #002597;  
            margin-bottom: 5px;    
			background-color:#2165aa;
			font-weight:600;
			text-align: center; 
			text-transform:uppercase;
			font-weight: 600;
			color: #FFFFFF;
			filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr='#C9C9C9',EndColorStr='#C9C9C9'); 
        }        
        
    
        
        .LineFieldLabel
        {
            float: left;
            width: 29%;
			line-height:18px;
			margin:1px 0px 0px 1px;
			white-space:nowrap;             
        }        
        .WideFieldLabel
        {
            float: left;
            width: 180px;
			line-height:20px;
			text-align:left;
			margin:1px 0px 0px 1px; 
			white-space:nowrap;  
        }
        .NarrowFieldLabel
        {
            float: left;
            width: 90px;
			margin:1px 0px 0px 1px;   
        }        
        
        .LineField
        {
            float: left;
            width: 50%;       
			margin:1px 0px 0px 1px;
			font-family: Arial,Verdana,Sans-serif;  
			font-size:0.950em;     
			float:left;
			padding-left: 4px;
        }
        .LineFieldB
        {
            float: left;
            width: 40%;       
			margin:1px 0px 0px 1px;
			font-family: Arial,Verdana,Sans-serif;  
			font-size:0.750em;     
			float:left;
			padding-left: 4px;
        }
        .LineFieldComments
        {
            float: left;
            width: 99%;       
			margin:1px 0px 0px 1px;
			font-family: Arial,Verdana,Sans-serif;  
			     
			float:left;
			padding-left: 4px;

        }
        .DropDown
        {
            float: left;
            width: 40%;       
			margin:1px 0px 0px 1px;  
			font-size:0.950em;     
			float:left;
        }
        .LineFieldApp
        {
            float: left;
            width: 90%;       
			margin:1px 0px 0px 1px;  
			font-size:0.950em;     
			float:left;
	    text-align: center;
	    border: solid 0px #000000;
        }
        .LineFieldAppTable
        {
            float: left;
            width: 99%;       
			margin:1px 0px 0px 1px;  
			font-size:0.950em;     
			float:left;
	    border: solid 1px #eeeeee;
        }
        .LineFieldAppTableSwitch
        {
            float: left;
            width: 100%;       
			margin:1px 0px 0px 1px;  
			font-size:0.800em;     
			float:left;
	    border: solid 1px #eeeeee;
        }          
        .WideField
        {
            float: left;
            width: 180px;
			margin:1px 0px 0px 1px;  
			font-size:0.875em;
			white-space:nowrap;
        }
        .NarrowField
        {
            float: left;
            width: 180px;
			margin:1px 0px 0px 1px; 
			font-size:0.875em; 
			white-space:nowrap; 
        }
        .TinyField
        {
            float: left;            
            width: 48px;
			margin:1px 0px 0px 1px; 
			font-size:0.7em; 
			white-space:nowrap; 
        }

        .Clear
        {
            clear: both;
			margin:1px 0px 0px 1px;   
        }
        
        .EFormButton
        {
    		filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#F7F7F9,endColorStr=#C7C8D6);
    		font: bold 8pt Arial;
   		 color:#4F4A6E;
    		border: 1px outset #2165AA;
   		 padding-left: 5px;
   		 padding-right: 5px;
    		padding-top: 2px;
    		padding-bottom: 2px;
    		cursor: pointer;
        }
	.EFormButton:hover
	{
    		filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#C7C8D6,endColorStr=#F7F7F9);
    		font: bold 8pt Arial;
    		color:#4F4A6E;
    		border: 1px inset #2165AA;
    		padding-left: 5px;
    		padding-right: 5px;
    		padding-top: 2px;
    		padding-bottom: 2px;
    		cursor: pointer;
	}
	.FooterPanel
        {
			color: #FFFFFF;
			background-color: #C9C9C9;
			border: solid 0px #2165aa;
			width: 100%;
			text-align: right;
		
        }
	.ActionPanel
        {
			color: #FFFFFF;
			background-color: #FAFAFA;
			border: solid 0px #2165aa;
			width: 100%;
			text-align: center;
		
        }
	.HeaderPanel
        {
			color: #000000;
			background-color: #ffffff;
			border: solid 0px #2165aa;
			width: 100%;
			text-align: right;
		
        }
        
        select
        {
			color: #000000;
			background-color: #FFFFFF;
			border: solid 1px #0E386C;
        }
        .RepeaterHeaderTable
        {
            width: 99%;    
			line-height:22px; 
            border: solid 0px #2165aa;  
            margin-bottom: 5px;    
			background-color:#2165AA;
			font-weight:600;
			text-align: center; 
			text-transform:uppercase;
			font-weight: 600;
			color: #FFFFFF;
        }
        .RepeaterHeaderTable1
        {
            width: 99%;    
			line-height:22px; 
            border: solid 0px #2165aa;  
            margin-bottom: 5px;    
			background-color:#2165AA;
			font-weight:600;
			text-align: center; 
			text-transform:uppercase;
			font-weight: 600;
			color: #FFFFFF;
        }
        .RepeaterTable
        {
            width: 99%;
	      
			line-height:22px; 
            border: none;  
            margin-bottom: 5px;    
			background-color:#ffffff;
			font-weight:600;
			font-size: 10px;
			text-align: center; 
			text-transform:uppercase;
			font-weight: 200;
			color: #000000;
			
        }
        .CheckBoxList
        {
            width: 90%;    
			line-height:22px; 
            border: none;  
            margin-bottom: 5px;    
			font-weight:600;
			font-size: 10px;
			text-align: left; 
			text-transform:uppercase;
			font-weight: 200;
			color: #000000;
        }
        .RepeaterTableLeft
        {
            width: 90%;    
			line-height:22px; 
            border: none;  
            margin-bottom: 5px;    
			font-weight:600;
			font-size: 10px;
			text-align: left; 
			text-transform:uppercase;
			font-weight: 200;
			color: #000000;
        }
        Table.RepeaterTable tr
        {
 
            border: none;  

        }
        Table.RepeaterTable td
        {
 
            border: none;  

        }
        .RepeaterTableDR
        {
            width: 99%;    
			line-height:22px; 
            border: solid 0px #2165aa;  
		border-collapse: collapse;
            margin-bottom: 5px;    
			background-color:#ffffff;
			font-weight:500;
			font-size: 10px;
			text-align: left; 
			text-transform:uppercase;
			color: #000000;
        }
        Table.RepeaterTableDR tr
        {
 
            border: solid 1px #2165aa;  

        }
        Table.RepeaterTableDR td
        {
 
            border: solid 1px #ffffff;
	    background-color:#EEEEEE; 

        }
        .PreScreenTable
        {
            width: 99%;    
			line-height:22px; 
            border:solid 0px #2165aa;  
            margin-bottom: 5px;    
			background-color:#ffffff;
			font-weight:600;
			text-align: left; 
			text-transform:uppercase;
			font-weight: 200;
			color: #000000;
        }
        .PreScreenTablePR
        {
            width: 99%;    
			line-height:22px; 
            border:solid 0px #2165aa;  
            margin-bottom: 5px;    
			background-color:#ffffff;
			
			text-align: left; 
			
			
			color: #000000;
        }


				* {margin:0; padding:0}
				body1 
				{
				font:11px/1.5 Verdana, Arial, Helvetica, sans-serif; 
				background:#FFF;
				}

				#text 
				{
				margin:50px auto; 
				width:500px;
				}

				.hotspot 
				{
					color:white; 
					padding-bottom:1px; 
					border-bottom:0px dotted #900; 
					cursor:pointer;
				}

				#tt 
				{
				position:absolute; 
				display:block; 
				background:url(images/tt_left.gif) top left no-repeat;
				}
				
				#tttop 
				{
				display:block; 
				height:5px; 
				margin-left:5px; 
				background:url(images/tt_top.gif) top right no-repeat; 
				overflow:hidden;
				}
				
				#ttcont 
				{
				display:block; 
				padding:2px 12px 3px 7px; 
				margin-left:5px; 
				background:#666; 
				color:#FFF;
				}
				
				#ttbot 
				{
				display:block; 
				height:5px; 
				margin-left:5px; 
				background:url(images/tt_bottom.gif) top right no-repeat; 
				overflow:hidden;
				}

				.GridViewStyle
				{    
    			border-right: 2px solid #A7A6AA;
    			border-bottom: 2px solid #A7A6AA;
			    border-left: 2px solid white;
			    border-top: 2px solid white;
			    padding: 3px;
				text-align: center;
				}

				.GridViewStyle a
				{
    			color: 000000;
    			padding: 3px;
				}

				.GridViewHeaderStyle th
				{
    			border-left: 2px solid #EBE9ED;
    			border-right: 2px solid #EBE9ED;
    			padding: 5px;
			color: white;
				}


				.GridViewHeaderStyle
				{
					background-color:#818183;
					font-weight: bold;
					color: #FFFFFF;
					padding: 5px;
					text-align: center; 
					text-transform:uppercase;
					color: white;
				}

				.GridViewFooterStyle
				{
			    background-color: #5D7B9D;
			    font-weight: bold;
			    color: White;
			    padding: 5px;
				}

				.GridViewRowStyle
				{
			    background-color: #F7F6F3;
			    color: #333333;
			    padding: 3px;
				font-size: 12px;
				text-transform: capitalize;
				vertical-align: top;
				}

				.GridViewAlternatingRowStyle 
				{
			    background-color: #FFFFFF;
			    color: #284775;
			    padding: 3px;
				font-size: 12px;
				text-transform: capitalize;
				}

				.GridViewRowStyle td, .GridViewAlternatingRowStyle td
				{
			    padding: 3px;
				}

				.GridViewSelectedRowStyle
				{
			    background-color: #E2DED6;
			    font-weight: bold;
			    color: #333333;
			    padding: 3px;
				text-transform: capitalize;
				}

				.GridViewPagerStyle
				{
			    background-color: #284775;
			    color: #FFFFFF;
				}

				.GridViewPagerStyle table /* to center the Close:hover */
				{
				cursor:hand;
				}

	.RedBox
		{
    		background-color: red;
	}
	
	.ActiveRow
		{
                color: Back; 
                background-color: #FF8383;                                                        
    }
	

.mGrid { width: 99%; background-color: #fff; margin: 5px 0 10px 0; border: solid 0px #525252; border-collapse:collapse; }
    .mGrid td { padding: 2px; border: solid 0px #c1c1c1; color: #000000; }
    .mGrid th { padding: 4px 2px; color: #fff; background: #424242 url(grd_head.png) repeat-x top; border-left: solid 1px #525252; font-size: 0.9em; }
.mGrid .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }
.mGrid .pgr {background: #424242 url(grd_pgr.png) repeat-x top; }
    .mGrid .pgr table { margin: 5px 0; }
    .mGrid .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 12px; }   
    .mGrid .pgr a { color: #666; text-decoration: none; }
    .mGrid .pgr a:hover { color: #000; text-decoration: none; }

     /*CollapsiblePanel*/
        .ContainerPanel
        {
	        width:318px;
	        border:0px;
	        border-color:#1052a0;	
	        border-style:double double double double;
		margin-left:3px;
		background-color:#0054A0;
        }
        .collapsePanelHeader
        {
	        width:315px;
	        height:30px;
	        background-image: url(../images/bg-menu-main.png);
	        background-repeat:repeat-x;
	        color:#FFF;
	        font-weight:bold;
		margin-left:3px;
        }
        .HeaderContent
        {
	        float:left;
	        padding-left:2px;
	        width:125px;
        }
        .CheckMark
        {
	        width:13px;
	        height:13px;
	        float:Left;
	        margin-top:7px;
	        margin-left:4px;
        }
        .Content
        {
        background-color:#E7DAE5;	
        }
        .ArrowExpand
        {
	        background-image: url(../images/expand_blue.jpg);
	        width:13px;
	        height:13px;
	        float:right;
	        margin-top:7px;
	        margin-right:5px;
        }
        .ArrowExpand:hover
        {
	        cursor:hand;
        }
        .ArrowClose
        {
	        background-image: url(../images/collapse_blue.jpg);
	        width:13px;
	        height:13px;
	        float:right;
	        margin-top:7px;
	        margin-right:5px;
        }
        .ArrowClose:hover
        {
	        cursor:hand;
        }


/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
	border: 4px solid #888;
	margin:-4px;	/* Set this to minus the border thickness. */
	background-color:#fff;	
	cursor:move;		
}

/* This is for the title text. */
.cloud-zoom-title {
	font-family:Arial, Helvetica, sans-serif;
	position:absolute !important;
	background-color:#000;
	color:#fff;
	padding:3px;
	width:100%;
	text-align:left;	
	font-weight:bold;
	font-size:10px;
	top:0px;
}

/* This is the zoom window. */
.cloud-zoom-big {
	border:2px solid #ccc;
	height: 500px;
	overflow:hidden;
}

/* This is the loading message. */
.cloud-zoom-loading {
	color:white;	
	background:#222;
	padding:3px;
	border:1px solid #000;