extends ../layout/section

block left
  section#start

    #system-warning
      h3 This application is in alpha.
      p.
        The Las Vegas Development FastPass is currently in active development by <a href='http://www.codeforamerica.org/cities/lasvegas/' target='_blank'>2013 Code for America fellows</a> and is available for demo and testing purposes. Many features may be incomplete or broken. To contribute, please check out our <a href='https://github.com/codeforamerica/fast_pass/' target='_blank'>GitHub repository</a> or <a href='mailto:lasvegas@codeforamerica.org'>e-mail us</a>. Thanks!
    
    h2 Find the best property for your business.
    
    p.lede
      | Am I zoned for my barbershop?  Is this a great spot for my bar?  Where should I open my boutique hat store? This tool will help you answer these important questions before starting the permitting and licensing process with the City of Las Vegas.

    .row
      .col-3
        h3 What you’ll need
        ul
          li A business idea
          li Details about your business activities
          li (optional) An address or neighborhood where you’d like to locate
      .col-3.inset-box
        h3 Important note
        p
          | This tool does not automatically submit any forms or applications to the City.  However, we’ll connect you with appropriate forms or contacts at the end of this process.
        .section-navigation
          a.next.button(href='/#/section/10') Let’s get started!