section#section10

  progressbar(step='1')

  h2 What is your activity or business?
  p.lede
    | Type in some keywords about your business, then press the Search button.

  div(ng-controller='ClassificationsCtrl')

    form(ng-submit='search(keywords)')

      .row(style='white-space: nowrap;')
        input.col-5(type='text', placeholder='e.g. {{sampleInput}}', ng-model='keywords', required='', autofocus='', value='{{keywords}}')
        input.col-1(type='submit', value='Search')

    div(id='classification-select', class='row', style='margin-top:20px;')
      .row(style='margin-top: 20px')
        .col-4

          div(ng-show='showLoading')
            .loading-small(style='margin: 30px 0')
              img(src='img/loading-lite.gif')

          div(ng-show='showError')
            span.error An error occurred! Please try again later.

          div(ng-show='showInvalid')
            span.error Invalid input! Search terms must not be blank. 

          div(ng-show='showResults')

            div(ng-if='results.length <= 0')
                span.error No results found for query '{{lastSearch}}'

            div(ng-if='results.length > 0')
              h3
                | Please choose a business category from the list below.
              search-result(ng-repeat='result in results', result='result', selected='selected', select='select(result)')
                span {{ result.get('title') }}
                button Select

            p
              | This search tool uses the &nbsp;
              a(href='http://www.census.gov/eos/www/naics/', target='_blank') North American Industry Classification System (NAICS), 2012 edition.
              | &nbsp; We'll use this to match your business to a City of Las Vegas business category.

        #primary-business-results.inset-box.col-2.scrollfix(ng-show='showResults')
          h3 Your selected business category
          p(style='font-size: 120%;')
            span(ng-show='selected') {{ selected.get('title') }}
            span(ng-show='!selected') Nothing is selected yet. Your chosen business type will appear here.
          .row.section-navigation
            a.next.button(href='/#/section/15', disable-button='!selected') Next

    .section-navigation
      a.back.button(href='/') Back
      a.next.button(href='/#/section/15', disable-button='!selected') Next
