section#section12(ng-controller='ClassificationsCtrl', hide-map='')

  progressbar(step='1')

  h2 Confirm your business category

  p.lede
    | You selected '{{selected.get('title')}}'.
  p.lede
    | Based on this selection&comma; we&apos;ve matched your business to a Las Vegas business category of
    span.nobr
      span.pill {{ businessCategory.get('code') }}
      strong {{ businessCategory.get('title') }}.
    a(href='', ng-click='showDescription = !showDescription') (Learn more about this category.)
  .info-box(collapse='showDescription')
    p {{ businessCategory.description }}
    p
      a(href='http://www5.lasvegasnevada.gov/LCAT/Bus_Lic_Instructions.aspx?Category={{userdata.businessCategory.code}}&CategoryName={{userdata.businessCategory.name}}', target='_blank') View complete licensing procedure from Las Vegas Business Licensing&period;
  p.lede
    | Does this look correct to you&quest;
  .section-navigation
    a.back.button(href='/#/section/10') No&comma; go back and choose another
    a.next.button(href='/#/section/15') Looks good&period; Let&rsquor;s keep going
