extends ../layout/section

block left
  progressbar(step='1')

  h2 Describe your business

  p.lede
    | Please describe your business in complete detail by writing one or two paragraphs.
  form
    div(max-words=350, words='description')
      textarea(autofocus='', ng-model='words')
      .textarea-note(ng-class='warning') {{countdown}} words remaining.

  navigation(back='/#/section/10', next='/#/section/30')
