extends ../layout/section

block left
  progressbar(step='2')

  h2 Have you obtained a space for your business already?
  p.lede
    | If you've already bought or leased a space, or have a particular space you'd like to know more about, click "Yes".

  p
    a.button(href='/#/section/40') Yes, I have an address in mind
  p
    a.button(href='/#/section/41') No, help me find a property

  navigation(back='/#/section/15')
