section#section31(hide-map='')
  progressbar(step='2')
  h2 What kind of space are you looking for&quest;
  p.lede
    | Each type of space will have different requirements&period;
    a.modal(href='', data-title='Information about each type of space') &lpar;Help me choose one&period;&rpar;
  .radio-select
    p
      a.button(href='/#/section/39') Home-based business
    p
      a.button(href='/#/section/39') Brick-and-mortar retail space
    p
      a.button(href='/#/section/39') Commercial office space
    p
      a.button(href='/#/section/39') More than one of these&comma; or don&rsquor;t know yet
  .section-navigation
    a.back.button(href='/#/section/30') Back
