section#section40(ng-controller='AddressesCtrl')

  progressbar(step='2')

  h2 Enter the address of your space

  form(ng-submit='search(address)')
    .row(style='white-space: nowrap;')
      input.col-5(type='text', placeholder='e.g. 495 S. Main Street', ng-model='address', required='', autofocus='', value='{{address}}')
      input.col-1(type='submit', value='Search')

  div(id='address-select', class='row', style='margin-top:20px;')
    .row(style='margin-top: 20px')
      .col-6

        div(ng-show='showLoading')
          .loading-small(style='margin: 30px 0')
            img(src='img/loading-lite.gif')

        div(ng-show='showError')
          span.error An error occurred! Please try again later.

        div(ng-show='showInvalid')
          span.error Invalid input! Address must not be blank. 

        div(ng-show='showResults')

          div(ng-if='results.length <= 0')
              span.error No results found for query '{{lastSearch}}'

          div(ng-if='results.length > 0')
            h3
              | Please choose an address from the list below.
            search-result(ng-repeat='result in results', result='result', selected='selected', select='select(result)')
              span {{ result.get('address') }}
              button Select

    .section-navigation
      a.back.button(href='/#/section/30') Back
      a.next.button(href='/#/section/30', disable-button='!selected') Next
