section(id='section-41', ng-controller='41Ctrl')
  .left-screen
    .container
      include ../layout/header


      progressbar(step='2')

      h2 Select a neighborhood

      p.lede Do you know what neighborhood you'd like to be in?

      div(class='neighborhoods')
        div(class='neighborhood', ng-repeat='neighborhood in neighborhoods')
          p
            a.button(href='/#/section/45', ng-mouseover='showNeighborhood(neighborhood)', ng-mouseout='hideNeighborhood(neighborhood)') {{ neighborhood.get('name') }}

      navigation(back='/#/section/30')

      include ../layout/footer

  .right-screen
    google-map(map='map', map-id='map')
