section(id='section-45', ng-controller='45Ctrl')

  .left-screen
    .container

      include ../layout/header

      progressbar(step='2')

      h2 Compatibility with your business

      navigation(back='/#/section/40')

      include ../layout/footer

  .right-screen
    google-map(map='map', map-id='map')
