section(id='section-50', ng-controller='50Ctrl')

  .left-screen
    .container

    include ../layout/header

    progressbar(step='3')

    h2 Address Title

    navigation(back='/#/section/40')

    include ../layout/footer

  .right-screen
    google-map(map='map', map-id='map')
