<div class='popup-content'>
	<h5><span class='property-address'>495 S. Main Street</span></h5>
<!--	<p><strong>Parcel #13934311021</strong></p>
	<p>You are selecting this parcel. Here is some basic information about it. To see more, click "See more."</p>
// -->
	<p>This is a parcel you just clicked</p>
</div>

<div class='popup-action'>
<!--	<a href='' class='popup' id='marker-address-pick'>Choose this location</a> -->
	<a href='' class='popup' id='marker-more-info'>See more information</a>
</div>
