<section id='print' ng-controller='PrintView as app' hide-map>

	<h2>City of Las Vegas </h2>
	
	<h3>Business Information</h3>

	<table class='no-style'>
		<tbody>
			<tr>
				<td width='200px'><strong>Business classification</a></strong></td>
				<td><span class='pill'>{{userdata.businessCategory.code}}</span> {{userdata.businessCategory.name}}</td>
			</tr>
			<tr>
				<td><strong>NAICS ({{userdata.naics.year}}) Code</strong></td>
				<td>{{userdata.naics.code}}</td>
			</tr>
			<tr>
				<td><strong>NAICS ({{userdata.naics.year}}) Title</strong></td>
				<td>{{userdata.naics.title}}</td>
			</tr>
			<tr>
				<td><strong>Business description</strong></td>
				<td>{{userdata.businessDescription}}</td>
			</tr>
			<tr>
				<td><strong>Additional business modifiers</strong></td>
				<td>{{userdata.additionalBusiness}}</td>
			</tr>
		</tbody>
	</table>

	<h3>Parcel Information</h3>

	<table class='no-style'>
		<tbody>
			<tr>
				<td width='200px'><strong><a href='' class='no-color help modal'>Parcel number</a></strong></td>
				<td>#{{parcel.number}}</td>
			</tr>
			<tr>
				<td><strong><a href='' class='no-color help modal'>Parcel master address</a></strong></td>
				<td>{{parcel.master_address}}</td>
			</tr>
			<tr>
				<td><strong><a href='' class='no-color help modal'>Other addresses on record</a></strong></td>
				<td><span ng-repeat='address in parcel.record_addresses'>{{address}}<br></span>
					<!--If there's no address, how did you land on this page? Through Lat/Lng?<br><a href='' class='small modal'>(don't see your address?)</a>-->
				</td>
			</tr>
		</tbody>
	</table>
	
	<h3><a href='' class='help modal no-color' data-title='Zones' data-content='Planning departments use zones to make sure that different uses are not conflicting with other uses.'>Zones</a></h3>
	
	<ul class='comfy no-bullets'>
		<li><strong><span class='clickable yellow pill'>C-2</span>&nbsp;<a href='' data-title='#{zone_id} #{zone_name} Zone Definition' title='click to highlight zone on map' class='modal'>General Commercial</a></strong></li>
		<li><strong><span class='clickable yellow pill'>DCP-0</span>&nbsp;<a href='' data-title='#{zone_id} #{zone_name} Zone Definition' title='click to highlight zone on map' class='modal'>Downtown Centennial Plan Overlay</a></strong></li>
	</ul>
	
	<h3>Buildings</h3>
	
	<table>
		<thead>
			<tr>
				<td width='30%'>Building Number</td>
				<td width='70%'>Current Occupancy Type</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>495A</td>
				<td><span class='green pill'>A2</span> Assembly</td>
			</tr>
			<tr>
				<td>498B</td>
				<td><span class='pill'>R1</span> Residential</td>
			</tr>
		</tbody>
	</table>

	<h3>Land use history</h3>
	
	<ul>
		<li>Residential</li>
	</ul>
	
	<h3>Incentives</h3>
	
	<ul>
		<li><a href='http://lvrda.org/retail-assistance-program.php' target='_blank'>Downtown Retail Assistance Program</a></li>
		<li><a href='http://lvrda.org/fast-track-program.php' target='_blank'>Redevelopment Area Fast Track Program</a></li>
		<li><a href='http://lvrda.org/tif-program.php' target='_blank'>Tax Increment Financing (TIF)</a></li>
		<li><a href='http://lvrda.org/quickstart-programs.php' target='_blank'>Quick Start Program</a></li>
		<li><a href='http://lvrda.org/visual-improvement-program.php' target='_blank'>Visual Improvement Program</a></li>
	</ul>


	<div class='section-navigation'>
		<a class='back button' href='/#/section/70'>Return</a>
		<a class='left button' href=''>Print</a>
	</div>

</section>
