<div id='start' class='section-full section-start'>

	<h2>Find the best property for your business.</h2>

	<p class='lede'>
		Am I zoned for my barbershop?  Is this a great spot for my bar?  Where should I open my boutique hat store? These are important questions for your business, and this tool will help you find a property, and obtain data from a property, before beginning the permitting and licensing process with the City.
	</p>

	<h3>What you'll need</h3>

	<ul>
		<li>What is your business?</li>
		<li>Are there aspects of your business that could affect your location?</li>
		<li>Do you have a space or neighborhood in mind already?</li>
	</ul>

	<div class='section-navigation'>
		<a class='next button' href='/#/section/10'>Let’s get started!</a>
	</div>

</div>