<section id='start' class='section-full section-start'>

	<h2>Find the best property for your business.</h2>

	<p class='lede'>
		Am I zoned for my barbershop?  Is this a great spot for my bar?  Where should I open my boutique hat store? This tool will help you answer these important questions before starting the permitting and licensing process with the City of Las Vegas.
	</p>

	<h3>What you'll need</h3>

	<ul>
		<li>A business idea</li>
		<li>Details about your business activities</li>
		<li>(optional) An address or neighborhood where you'd like to locate</li>
	</ul>

	<div class='section-navigation'>
		<a class='next button' href='/#/section/10'>Let’s get started!</a>
	</div>

</section>