<div role="main" class="content">

	<section id="section12" class="section-full" style="display: none;">
		<h2>Confirm your business category</h2>
		<p class="lede">It looks like your business is <strong class="ng-binding"></strong>.&nbsp;<a href="" data-title="Automotive Services Business Category Definition" class="modal">(Learn more about this category.)</a></p>
		<p class="lede">Does this look correct to you?</p>
		<div class="section-navigation"><button type="button" value="back">No, go back and edit</button><button type="button" value="next">Looks good. Let’s keep going</button></div>
	</section>
	<section id="section15" class="section-full" style="display: none;">
		<h2>Describe your business</h2>
		<p class="lede">We'd like to know some more about your business, so that our permit technicians can serve you better. Please describe your business in one or two paragraphs.</p>
		<div id="business-description-form" class="form"><textarea id="business-description" name="business-description"></textarea></div>
		<div class="section-navigation"><button type="button" value="back">Back</button><button type="button" value="next">Next</button></div>
	</section>
	<section id="section20" class="section-full" style="display: block;">
		<h2>Additional information about your business</h2>
		<p class="lede">Now let’s see if there are any additional activities your business includes which might affect your zoning status. Check all that apply.</p>
		<p></p>
		<div id="additional-business-form" class="form"><input type="checkbox" name="additional-business" value="1" id="alcohol"><label for="alcohol">Alcoholic beverages served or sold</label><a href="" data-title="alcohol" class="small help modal"></a><br><input type="checkbox" name="additional-business" value="1" id="childcare"><label for="childcare">Childcare services provided</label><a href="" data-title="childcare" class="small help modal"></a><br><input type="checkbox" name="additional-business" value="1" id="gambling"><label for="gambling">Gambling</label><a href="" data-title="gambling" class="small help modal"></a><br><input type="checkbox" name="additional-business" value="1" id="jukebox"><label for="jukebox">Jukebox operation</label><a href="" data-title="jukebox" class="small help modal"></a><br></div>
		<p></p>
		<div class="section-navigation"><button type="button" value="back">Back</button><button type="button" value="next">Next</button></div>
	</section>
	<section id="section30" class="section-full">
		<h2>Have you obtained a space for your business already?</h2>
		<p class="lede">If you've already bought or leased a space, or have a particular space you’d like to know more about, click “Yes”.  </p>
		<div class="radio-select">
			<p><button type="button" data-section="section40">Yes, I have an address in mind</button></p>
			<p><button type="button" data-section="section41">No, but I know what neighborhood I want to be in</button></p>
			<p><button type="button" data-section="section39">No, help me find a property</button></p>
		</div>
		<div class="section-navigation"><button type="button" value="back">Back</button></div>
	</section>
	<section id="section31" class="section-full">
		<h2>What kind of space are you looking for?</h2>
		<p class="lede">Each type of space will have different requirements.&nbsp;<a href="" data-title="Information about each type of space" class="modal">(Help me choose one.)</a></p>
		<div class="radio-select">
			<p><button type="button" data-section="section39">Home-based business</button></p>
			<p><button type="button" data-section="section39">Brick-and-mortar retail space</button></p>
			<p><button type="button" data-section="section39">Commercial office space</button></p>
			<p><button type="button" data-section="section39">More than one of these, or don’t know yet</button></p>
		</div>
		<div class="section-navigation"><button type="button" value="back">Back</button></div>
	</section>
	<section id="section39" class="section-full">
		<h2>We're locating appropriate properties for you.</h2>
		<div class="loading"><img src="img/loading-lite.gif"></div>
		<div class="section-navigation hidden"><button type="button" value="next" data-section="section45">Next</button></div>
	</section>
	<section id="section39b" class="section-map">
		<h2>We're locating appropriate properties for you.</h2>
		<div class="loading"><img src="img/loading-lite.gif"></div>
		<div class="section-navigation hidden"><button type="button" value="next" data-section="section45">Next</button></div>
	</section>
	<section id="section40" class="section-map">
		<h2>Enter the address of your space</h2>
		<p class="lede">Please type in an address, or click a location on the map.</p>
		<p></p>
		<div id="property-address-form" class="form"><input id="property-address-input" type="text" name="address" placeholder="example: 495 S. Main Street"></div>
		<p></p>
		<div class="section-navigation"><button type="button" value="back" data-section="section30">Back</button><button type="button" value="next" data-section="section50">Next</button></div>
	</section>
	<section id="section41" class="section-map">
		<h2>Select a neighborhood</h2>
		<p class="lede">If you know what neighborhood you'd like to be in, select it now.</p>
		<div class="radio-select">
			<p><button type="button" data-section="section39b">Downtown Las Vegas</button></p>
			<p><button type="button" data-section="section39b">Other area in Las Vegas</button></p>
		</div>
		<div class="section-navigation"><button type="button" value="back" data-section="section30">Back</button></div>
	</section>
	<section id="section45" class="section-map">
		<h2>Zoning map</h2>
		<ul>
			<li>Your business category: <strong>&nbsp;<a href="" data-title="Automotive Services Business Category Definition" class="modal ng-binding"></a></strong></li>
		</ul>
		<p class="lede">Zones in which you're qualified to be in will be shown on the map to the left. Select individual parcels to learn more.</p>
		<p>Based on the information we've collected so far, these zones are most likely approved for your business.</p>
		<ul class="comfy no-bullets">
			<li><strong><span class="clickable green pill">DCP-0</span>&nbsp;<a href="" data-title="#{zone_id} #{zone_name} Zone Definition" title="click to highlight zone on map" class="modal">Downtown Centennial Plan</a></strong></li>
		</ul>
		<p>These zones may require additional conditions for approval.</p>
		<ul class="comfy no-bullets">
			<li><strong><span class="clickable orange pill">CM-1</span>&nbsp;<a href="" data-title="#{zone_id} #{zone_name} Zone Definition" title="click to highlight zone on map" class="modal">Light Industrial</a></strong></li>
			<li><strong><span class="clickable yellow pill">CM-2</span>&nbsp;<a href="" data-title="#{zone_id} #{zone_name} Zone Definition" title="click to highlight zone on map" class="modal">Medium Industrial</a></strong></li>
		</ul>
		<div class="section-navigation"><button type="button" value="back" data-section="section30">Back</button><button type="button" value="next">Select a parcel on the map to continue</button></div>
	</section>
	<section id="section50" class="section-map">
		<h2> <span class="property-address">450 S. 4th St</span></h2>
		<table class="no-style">
			<tbody>
				<tr>
					<td width="180px"><strong><a href="" class="no-color help modal">Parcel number</a></strong></td>
					<td>#13934311021</td>
				</tr>
				<tr>
					<td><strong><a href="" class="no-color help modal">Parcel master address</a></strong></td>
					<td>450 S. 4th St</td>
				</tr>
				<tr>
					<td><strong><a href="" class="no-color help modal">Other addresses on record</a></strong></td>
					<td>3392 Carson Ave, 452 S. 4th St, 454 S 4th St<br><a href="" class="small modal">(don't see your address?)</a></td>
				</tr>
			</tbody>
		</table>
		<h3><a href="" class="help modal no-color" data-title="Zones" data-content="Planning departments use zones to make sure that different uses are not conflicting with other uses.">Zones</a></h3>
		<ul class="comfy no-bullets">
			<li><strong><span class="clickable yellow pill">C-2</span>&nbsp;<a href="" data-title="#{zone_id} #{zone_name} Zone Definition" title="click to highlight zone on map" class="modal">General Commercial</a></strong></li>
			<li><strong><span class="clickable yellow pill">DCP-0</span>&nbsp;<a href="" data-title="#{zone_id} #{zone_name} Zone Definition" title="click to highlight zone on map" class="modal">Downtown Centennial Plan Overlay</a></strong></li>
		</ul>
		<h3>Buildings</h3>
		<table>
			<thead>
				<tr>
					<td width="30%">Building Number</td>
					<td width="70%">Current Occupancy Type</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>495A</td>
					<td><span class="green pill">A2</span> Assembly</td>
				</tr>
				<tr>
					<td>498B</td>
					<td><span class="pill">R1</span> Residential</td>
				</tr>
			</tbody>
		</table>
		<h3>Land use history</h3>
		<ul>
			<li>Residential</li>
		</ul>
		<h3>Incentives</h3>
		<ul>
			<li><a href="http://lvrda.org/retail-assistance-program.php" target="_blank">Downtown Retail Assistance Program</a></li>
			<li><a href="http://lvrda.org/fast-track-program.php" target="_blank">Redevelopment Area Fast Track Program</a></li>
			<li><a href="http://lvrda.org/tif-program.php" target="_blank">Tax Increment Financing (TIF)</a></li>
			<li><a href="http://lvrda.org/quickstart-programs.php" target="_blank">Quick Start Program</a></li>
			<li><a href="http://lvrda.org/visual-improvement-program.php" target="_blank">Visual Improvement Program</a></li>
		</ul>
		<h3>Other Links</h3>
		<ul>
			<li><a href="http://tigerweb.geo.census.gov/datamapper/map.html" target="_blank">Demographics of this area</a> (Link to US Census)</li>
			<li><a href="http://gisgate.co.clark.nv.us/openweb/" target="_blank">View on Clark County GISMO</a></li>
			<li><a href="http://clvplaces.appspot.com/apps/interactive/clvpi.htm" target="_blank">View on Las Vegas Interactive Map</a></li>
		</ul>
		<div class="section-navigation"><button type="button" value="back" data-section="section45">Return to zoning overview</button><button type="button" value="next">Proceed with this property</button></div>
	</section>
	<section id="section70" class="section-map">
		<h2>Next steps with this property</h2>
		<h3>Quick review</h3>
		<ul>
			<li>Your business category is <span class="pill">A11</span> <strong class="ng-binding"></strong>.</li>
			<li>The zoning classification for your property is <span class="green pill">C-2</span> <strong>General Commercial</strong>.</li>
			<li>Your parcel number is <strong>13934311021</strong>.</li>
			<li>The master address on record for this parcel is <strong><span class="property-address">150 N. Las Vegas Blvd</span></strong>.</li>
			<li>The address you're using is <strong>this</strong>.</li>
		</ul>
		<div class="radio-select">
			<p><button type="button" id="external-print" data-external-link="">View &amp; print all property information now</button></p>
		</div>
		<h3>Next steps (external)</h3>
		<div class="radio-select">
			<p><button type="button" id="external-" data-external-link="http://www.lasvegasnevada.gov/Apply/27541.htm">Apply for a business license</button></p>
			<p><button type="button" id="external-pre-app" data-external-link="demo/eplans/preapplication.html">Request a planning pre-application conference</button></p>
		</div>
		<p><a target="_blank" href="http://www.lasvegasnevada.gov/Apply/permits.htm">View other resources</a></p>
		<div class="section-navigation"><button type="button" value="back">Back</button><button type="button" value="start" data-section="start" class="back">Start over</button></div>
	</section>
</div>