//
// Google Maps
//

script(src='//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')

//
// Angular
//

script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.js')
script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-route.min.js')
script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-resource.min.js')

//
// Application
//

script(src='/js/app.js')
script(src='/js/routes.js')
script(src='/js/services.js')
script(src='/js/controllers.js')
script(src='/js/directives.js')

//
// Vendor
//

script(src='/js/lib/ui/event.js')
script(src='/js/lib/ui/map.js')
script(src='/js/vendor/persist.min.js')
script(src='/js/vendor/GeoJSON.js')

//
// Page Specific Scripts
//

block javascripts
