div(id='dialog', class='ng-cloak', ng-controller='DialogCtrl')
  h3 Welcome back!
  .row
    p
      | Looks like you've already started your property research. Let's continue where you've left off.
    .section-navigation(style='height: 38px; position: relative')
      a(href='#',style='position: absolute; bottom: 0; left: 0', ng-click='reset()') Clear everything and start over
      a.right.button(href='', ng-click='dismiss()') Dismiss
