footer(role='footer')
  .disclaimer
    p.
      The information contained herein does not represent legal aid, may be incomplete or contain inaccuracies, and should not be used to guarantee compliance with all City of Las Vegas or county, state, and federal regulations.  If you're stuck or need help, please e-mail <a href='mailto:'>support@lasvegasnevada.gov</a> or call (310) 555-5000.
  #pi
    a(href='https://github.com/codeforamerica/lv-dof/', target='_blank')
      img(alt='CfA flag', src='/img/cfa-flagtag.svg')
