section(id='section-{{section}}')
  .left-column(ng-class='{ false: "full-screen", true: "part-screen" }[showRight]')
    .container
      .content
        include header
        block left
      include footer
  .right-column
    block right
